
<div fxLayout="row" fxLayoutAlign="end end" class="button-container">
    <h2>Logistic Operators</h2>
     <span class="spacer"></span>
     <button color="primary" routerLink="/customers/add" mat-raised-button  class="demo-button">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon> Add Logistic Operator
    </button>
  </div>
  
  <div>      
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">         
        <!-- Position Column -->
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>        
        
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> ZipCode </th>
            <td mat-cell *matCellDef="let element"> {{element.ZipCode}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.Country}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.City}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Street </th>
            <td mat-cell *matCellDef="let element"> {{element.Street}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Suite </th>
            <td mat-cell *matCellDef="let element"> {{element.Suite}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> ContactNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.ContactNumber}} </td>
        </ng-container>

    </table>   
  </div>