<mat-card class="container">
  <mat-toolbar-row>
    <mat-card-header>
      <mat-card-title> Manage Customer Addresses </mat-card-title>
    </mat-card-header>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="mat-18">more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="goBack()" mat-menu-item>
        <mat-icon aria-label="Example icon-button with a heart icon"
          >keyboard_backspace</mat-icon
        >
        Back
      </button>
      <button
        mat-menu-item
        routerLink="/manage-addresses/{{ id }}"
        type="button"
      >
      <mat-icon
      >add</mat-icon
    >
        Add new Address
      </button>
    </mat-menu>

  </mat-toolbar-row>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div
      class="space"
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="30px"
    >
      <mat-card
        *ngFor="let item of addresses"
        fxFlex="calc(33%-25px)"
        fxFlex.sm="calc(50%-25px)"
      >
        <h2>{{ item.contactName }}</h2>
        <mat-card-subtitle>{{ item.addressType }}</mat-card-subtitle>

        <mat-card-content>
          <p>{{ item.street | uppercase }}</p>
          <p>
            {{ item.city | uppercase }}, {{ item.state | uppercase }},
            {{ item.zipCode | uppercase }}
          </p>
          <p>
            {{ item.country }}
          </p>
          <p>Phone Number: {{ item.phoneNumber1 }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button mat-button (click)="updateDialog(item)">Edit</button>
          <button mat-raised-button mat-button color="warn">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
