.container {
  padding: 35px;
}


table {
  width: 100%;
}


.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;

}

.irst-header-row th {
  border-bottom: none;
}

.second-header-row {
  font-style: italic;
}
