<mat-card >
  <mat-toolbar-row *ngIf="customer">
    <mat-card-header>
      <mat-card-title>
        Customer {{ customer.firstName }} {{ customer.lastName }}
      </mat-card-title>
    </mat-card-header>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="mat-18">more_horiz</mat-icon>More
    </button>
    <mat-menu #menu="matMenu">
      <button type="button" mat-menu-item (click)="openPasswordDialog()">
        Change Password
      </button>
      <button
        mat-menu-item
        routerLink="/manage-addresses/{{ id }}"
        [queryParams]="{customerName: customer.firstName,customerLastName: customer.lastName}"
        type="button"
      >
        Manage Addresses
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-divider></mat-divider>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <form [formGroup]="form">
        <div>
          <mat-form-field appearance="fill">
            <mat-label> First Name </mat-label>
            <input
              formControlName="firstName"
              matInput
              placeholder="First Name"
            />
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> Middle Name </mat-label>
            <input
              formControlName="middleName"
              matInput
              placeholder="Middle Name"
            />
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> Last Name </mat-label>
            <input
              formControlName="lastName"
              matInput
              placeholder="Last Name"
            />
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> User Name </mat-label>
            <input
              formControlName="userName"
              matInput
              placeholder="User Name"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input
              formControlName="telephone"
              matInput
              placeholder="Phone Number"
            />
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> Company Name </mat-label>
            <input
              formControlName="companyName"
              matInput
              placeholder="Company Name"
            />
            <mat-icon matSuffix>store_mall_directory</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email </mat-label>
            <input
              formControlName="email"
              matInput
              type="email"
              placeholder="Email"
            />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <div></div>

          <!--      <mat-form-field>
            <mat-label> password </mat-label>
            <input formControlName="password" matInput placeholder="Password" />
          </mat-form-field> -->
          <!--     <mat-form-field>
            <mat-label> Confirm password </mat-label>
            <input
              formControlName="confirmPassword"
              matInput
              placeholder="Password"
            />
          </mat-form-field> -->
        </div>

        <div align="end" class="button-row">
          <button
            mat-flat-button
            color="primary"
            (click)="onSubmit()"
            type="submit"
            [disabled]="!form.valid"
          >
            Save
          </button>
          <a
            routerLink="/customers"
            mat-stroked-button
            color="primary"
            type="submit"
            >Cancel</a
          >
        </div>
      </form>
    </div>
  </div>
</mat-card>
<!-- <pre>
  {{form.value | json}}
  </pre>
 -->
