


.container {

  padding: 1em;
  padding-top: 50px;
  padding-bottom: 7em;
}

.card-icon{
 font-size: 90px;
 margin-left: 25px;
}


.container span {
  text-align: center;
}

.mat-tab-labels {
  justify-content: center;
}


.addSpace{
   margin-bottom: 10px;
}


.button-row button,
.button-row a {
  margin-right: 8px;
}

.full-width{
  width: 100%;
}

.mat-form-field + .mat-form-field {
  margin-left: 0px !important;
}
