<mat-card>
  <mat-card-header class="card-header-padding">
    <mat-card-title> Embarcations </mat-card-title>
    <span class="spacer"></span>
    <button color="primary" (click)="openAddDialog('text')" mat-raised-button>
      <mat-icon aria-label="icon-button with an add icon">add</mat-icon>
      Add
    </button>
  </mat-card-header>

  <mat-card-content class="table-container">
    <label class="test" for="">Filter By: </label>
    <mat-button-toggle-group
      name="dateRangeFilter"
      aria-label="dateRangeFilter"
      value="departureDate"
    >
      <mat-button-toggle
        value="departureDate"
        (change)="onToggleChange($event.value)"
        >Departure date range</mat-button-toggle
      >
      <mat-button-toggle
        value="arrivingDate"
        (change)="onToggleChange($event.value)"
        >Arriving date range</mat-button-toggle
      >
    </mat-button-toggle-group>

    <div>
      <mat-form-field [formGroup]="rangeFilterDate" appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            placeholder="Start date"
          />
          <input matEndDate formControlName="end" placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>Start date – End date</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button
        mat-mini-fab
        color="primary"
        (click)="applyFilter()"
        [disabled]="!rangeFilterDate.valid"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="primary"
        (click)="resetFilter()"
        [disabled]="!rangeFilterDate.valid"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div class="table-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="EstimatedDepartureDate">
        <th mat-header-cell *matHeaderCellDef>Estimated Departure Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.EstimatedDepartureDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="EstimatedArrivingDate">
        <th mat-header-cell *matHeaderCellDef>Estimated Arriving Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.EstimatedArrivingDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="VeselNumber">
        <th mat-header-cell *matHeaderCellDef>Vesel Number</th>
        <td mat-cell *matCellDef="let element">{{ element.VeselNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td class="accent-color" mat-cell *matCellDef="let element">
          <p>{{ element.tracking.description }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="mat-18">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              type="button"
              routerLink="detail-view/{{ element.id }}"
              mat-menu-item
            >
              <mat-icon color="basic" aria-label="View">visibility</mat-icon
              >View Embarcation
            </button>

            <button
              type="button"
              (click)="confirmDialog(element.id)"
              mat-menu-item
            >
              <mat-icon color="basic" aria-label="Delete">delete</mat-icon>
              Delete
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <div *ngIf="!rangeFilterDate">
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
      </div>
    </table>
    <mat-paginator
      #paginator
      [length]="resultsLength"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      (page)="pageChanged($event)"
      [pageSizeOptions]="[5, 10, 20]"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
