<mat-card>
  <mat-card-header class="card-header-padding">
    <mat-card-title> Embarcations </mat-card-title>
    <span class="spacer"></span>
    <button color="primary" (click)="openAddDialog('text')" mat-raised-button>
      <mat-icon aria-label="icon-button with an add icon">add</mat-icon>
      Add
    </button>
  </mat-card-header>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="EstimatedDepartureDate">
      <th mat-header-cell *matHeaderCellDef>Estimated Departure Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.EstimatedDepartureDate | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="EstimatedArrivingDate">
      <th mat-header-cell *matHeaderCellDef>Estimated Arriving Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.EstimatedArrivingDate | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="VeselNumber">
      <th mat-header-cell *matHeaderCellDef>Vesel Number</th>
      <td mat-cell *matCellDef="let element">{{ element.VeselNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td color="accent" mat-cell *matCellDef="let element">
        <p color="accent">{{ element.tracking.description }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="mat-18">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            type="button"
            routerLink="detail-view/{{ element.id }}"
            mat-menu-item
          >
            <mat-icon color="basic" aria-label="View">visibility</mat-icon>View
            Embarcation
          </button>

          <button type="button" (click)="confirmDialog(element.id)" mat-menu-item>
            <mat-icon color="basic"  aria-label="Delete">delete</mat-icon>
            Delete
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
