table {
  width: 100%;
}

.button-container {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.table-container {
  position: relative;
}

mat-form-field {
  margin-right: 12px;
  margin-left: 10px;
  margin-bottom: 10px;

}

mat-button-toggle-group {
  margin: 10px;
}

.mat-mini-fab{
  margin-right: 5px;
}

.test{
  margin: 10px;

}

.table-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
