<h1 mat-dialog-title>{{title}} Address</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field formGroupName="addressType" appearance="fill">
        <mat-label>Address Type</mat-label>
        <mat-select formControlName="id">
          <mat-option *ngFor="let type of addrTypes" [value]="type.id">
            {{ type.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Contact Name</mat-label>
        <input
          matInput
          formControlName="contactName"
          placeholder="Contact Name"
        />
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Primary Phone Number</mat-label>
      <input
        matInput
        formControlName="phoneNumber1"
        placeholder="Primary Phone Number"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Secondary Phone Number</mat-label>
      <input
        matInput
        formControlName="phoneNumber2"
        placeholder="Secondary Phone Number"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" placeholder="Street" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" placeholder="City" />
    </mat-form-field>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput formControlName="state" placeholder="State" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ZipCode</mat-label>
        <input matInput formControlName="zipCode" placeholder="ZipCode" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of countries" [value]="country.description">
            {{ country.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button type="button" mat-button (click)="onNoClick()">Cancel</button>
  <button
    [mat-dialog-close]="data"
    type="button"
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!this.form.valid"
  >
    Save
  </button>
</div>
<!-- <pre>
  {{ form.value | json }}
</pre>

 -->
