<mat-card>
  <mat-card-header class="card-header-padding">
    <mat-card-title>Create Order</mat-card-title>
    <span class="spacer"></span>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="orderForm">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title> Address Information </mat-panel-title>
            <mat-panel-description>
              Enter Customer and destination address
            </mat-panel-description>
          </mat-expansion-panel-header>

          <h3><b>From Address</b></h3>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Customer Name</mat-label>
            <input
              matInput
              [formControl]="customerName"
              placeholder="Contact Name"
              readonly
            />
          </mat-form-field>

          <mat-form-field class="extend" appearance="fill" floatLabel="always">
            <mat-label>Origin Address</mat-label>
            <input
              matInput
              placeholder="From"
              [formControl]="fromAddress"
              readonly
            />
            <a
              type="button"
              mat-icon-button
              matSuffix
              (click)="getFromAddress(this.customer.id)"
            >
              <fa-icon size="2x" matListIcon [icon]="addressBookIcon"></fa-icon>
            </a>
          </mat-form-field>

          <h3><b>To Address</b></h3>
          <mat-form-field class="extend" appearance="fill" floatLabel="always">
            <mat-label>Destiny Address</mat-label>
            <input
              matInput
              placeholder="To"
              readonly
              [formControl]="toAddress"
            />
            <a
              type="button"
              mat-icon-button
              matSuffix
              (click)="getDestinationAddress(this.customer.id)"
            >
              <fa-icon size="2x" matListIcon [icon]="addressBookIcon"></fa-icon>
            </a>
          </mat-form-field>

          <mat-action-row>
            <button
              type="button"
              mat-button
              color="primary"
              (click)="nextStep()"
            >
              Next
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
          <mat-expansion-panel-header>
            <mat-panel-title> Shipping information </mat-panel-title>
            <mat-panel-description>
              Type the shipping details
              <mat-icon>box</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field formGroupName="shipping" appearance="fill">
            <mat-label>Shipping Type</mat-label>
            <mat-select formControlName="shippingType">
              <mat-option
                *ngFor="let shippingType of shippingTypes"
                [value]="shippingType.id"
              >
                {{ shippingType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field formGroupName="shipping" appearance="fill">
            <mat-label>Service Type</mat-label>
            <mat-select formControlName="serviceType">
              <mat-option
                *ngFor="let serviceType of serviceTypes"
                [value]="serviceType.id"
              >
                {{ serviceType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field formGroupName="embarcation" appearance="fill">
            <mat-label>Departure Date</mat-label>
            <mat-select formControlName="embarcation">
              <mat-option
                *ngFor="let embarcation of embarcations"
                [value]="embarcation.id"
              >
                {{ embarcation.EstimatedDepartureDate | date }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div formGroupName="shipping">
            <mat-form-field style="width: 50%" appearance="fill">
              <mat-label>Packages content</mat-label>
              <textarea matInput formControlName="packageContent"></textarea>
            </mat-form-field>
          </div>

          <mat-form-field
            formGroupName="shipping"
            appearance="fill"
            floatLabel="always"
          >
            <mat-label>Estimated value</mat-label>
            <input
              matInput
              type="number"
              class="right-align"
              placeholder="0"
              formControlName="value"
            />
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

          <mat-action-row>
            <button type="button" mat-button color="warn" (click)="prevStep()">
              Previous
            </button>
            <button
              type="button"
              mat-button
              color="primary"
              (click)="nextStep()"
            >
              Next
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
          <mat-expansion-panel-header>
            <mat-panel-title>Packaging </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container *ngIf="packages().controls.length > 0">
            <table>
              <thead>
                <th>Description</th>
                <th>Price</th>
                <th>Weight Kg</th>
                <th>Dimensions in.</th>
              </thead>
              <tbody formArrayName="orderDetail">
                <tr
                  class="trBackground"
                  *ngFor="
                    let packages of packages().controls;
                    let packsIndex = index
                  "
                  [formGroupName]="packsIndex"
                >
                  <td>
                    <mat-form-field  appearance="fill">
                      <mat-label>Select packaging</mat-label>
                      <mat-select  (selectionChange)="patchPackage(packsIndex,$event.value)">
                        <mat-option
                          *ngFor="let package of packagesCatalog"
                          [value]="package"
                        >
                          {{ package.description  }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </td>

                  <td>
                    <mat-form-field style="width: 75px"  appearance="fill">
                      <input
                        matInput
                        type="number"
                        class="right-align"
                        placeholder="0"
                        formControlName="amount"
                      />
                      <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                  </td>

                  <td>
                    <mat-form-field style="width: 75px" appearance="fill">
                      <input
                        matInput
                        type="number"
                        placeholder="0"
                        formControlName="weight"
                      />
                    </mat-form-field>
                  </td>

                  <td>
                    <mat-form-field style="width: 75px" appearance="fill">
                      <input
                        matInput
                        type="number"
                        placeholder="length"
                        formControlName="length"
                      />
                    </mat-form-field>
                    <span class="mh">X</span>
                    <mat-form-field style="width: 75px" appearance="fill">
                      <input
                        matInput
                        type="number"
                        placeholder="width"
                        formControlName="width"
                      />
                    </mat-form-field>
                    <span class="mh">X</span>
                    <mat-form-field style="width: 70px" appearance="fill">
                      <input
                        matInput
                        type="number"
                        placeholder="height"
                        formControlName="height"
                      />
                    </mat-form-field>
                  </td>

                  <td>
                    <div class="mh">
                      <button
                        (click)="removePackage(packsIndex)"
                        type="button"
                        mat-stroked-button
                        color="danger"
                      >
                        Delete
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Subtotal</td>
                  <td>{{subtotal}}</td>
                  <td>{{weightTotal}} Kg</td>
                </tr>
              </tfoot>
            </table>
          </ng-container>

          <button
            class="addButton"
            type="button"
            mat-button
            mat-raised-button
            color="accent"
            (click)="addPackage()"
          >
            <mat-icon class="mat-18">add</mat-icon>
          </button>

          <mat-action-row>
            <button type="button" mat-button color="warn" (click)="prevStep()">
              Previous
            </button>
<!--             <button
              type="button"
              mat-button
              color="primary"
              (click)="nextStep()"
            >
              End
            </button> -->
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button color="primary">
      <mat-icon>save</mat-icon> Save
    </button>
  </mat-card-actions>
</mat-card>

<pre>
  {{ orderForm.value | json }}
  </pre
>
