:host {
  display: flex;
  justify-content: center;
  background-image: url('../../../assets/img/World-Map.svg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

.mt-paddin{
    padding: 3rem;

}

.lcontainer{
    margin-top: 14rem;

}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
