


.container {

  padding: 1em;
  padding-top: 50px;
  padding-bottom: 7em;
}

.container span {
  text-align: center;
}



.mat-tab-labels {
  justify-content: center;
}


.addSpace{
   margin-bottom: 10px;
}


.button-row button,
.button-row a {
  margin-right: 8px;
}


.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

