<mat-card>
  <mat-card-header class="card-header-padding">
    <mat-card-title> Add New Customer </mat-card-title>
    <span class="spacer"></span>
    <button routerLink="/customers" mat-button class="demo-button">
      <mat-icon aria-label="Example icon-button with a heart icon"
        >keyboard_backspace</mat-icon
      >
      Back
    </button>
  </mat-card-header>

  <mat-divider></mat-divider>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-stepper
        [orientation]="(stepperOrientation | async)!"
        [linear]="false"
        state="person"
        #stepper
      >
        <mat-step
          [stepControl]="personalInfo"
          [errorMessage]="stepsErrorMessages.personalInfo"
        >
          <form [formGroup]="personalInfo">
            <ng-template matStepLabel>Fill customer personal info</ng-template>
            <mat-form-field appearance="fill">
              <mat-label> First Name </mat-label>
              <input
                formControlName="firstName"
                matInput
                placeholder="First Name"
                required
              />
              <mat-error *ngIf="pInfoFormErrors.firstName">{{
                pInfoFormErrors.firstName
              }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label> Middle Name </mat-label>
              <input
                formControlName="middleName"
                matInput
                placeholder="Middle Name"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label> Last Name </mat-label>
              <input
                formControlName="lastName"
                matInput
                placeholder="Last Name"
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label> User Name </mat-label>
              <input
                formControlName="userName"
                matInput
                placeholder="User Name"
              />
            </mat-form-field>
            <div class="stepButton">
              <button type="button" mat-button color="primary" matStepperNext>
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="password" [optional]="isOptional" state="lock">
          <form autocomplete="off" [formGroup]="password">
            <ng-template matStepLabel>Set customer password</ng-template>

            <mat-form-field appearance="fill">
              <mat-label> password </mat-label>
              <input
                formControlName="password"
                matInput
                placeholder="Password"
              />
            </mat-form-field>
            <!--     <mat-form-field>
            <mat-label> Confirm password </mat-label>
            <input
              formControlName="confirmPassword"
              matInput
              placeholder="Password"
            />
          </mat-form-field> -->
            <div>
              <button color="basic" type="button" mat-button matStepperPrevious>
                Back
              </button>
              <button color="primary" type="button" mat-button matStepperNext>
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step
          [stepControl]="contactInfo"
          state="phone"
          [errorMessage]="stepsErrorMessages.contactInfo"
        >
          <form [formGroup]="contactInfo">
            <ng-template matStepLabel>Fill out contact info</ng-template>
            <mat-form-field appearance="fill">
              <mat-label> Telephone </mat-label>
              <input
                formControlName="telephone"
                matInput
                type="tel"
                matInput
                placeholder="555-555-1234"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label> Company Name </mat-label>
              <input
                type="text"
                formControlName="companyName"
                matInput
                placeholder="Company Name"
              />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Email </mat-label>
              <input
                formControlName="email"
                matInput
                type="email"
                placeholder="Email"
              />
              <mat-error
                *ngIf="
                  contactInfo.controls['email'].hasError('email') &&
                  !contactInfo.controls['email'].hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error
                *ngIf="contactInfo.controls['email'].hasError('required')"
              >
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <div>
              <button color="basic" type="button" mat-button matStepperPrevious>
                Back
              </button>
              <button color="primary" type="button" mat-button matStepperNext>
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step
          [stepControl]="addressInfo"
          [errorMessage]="stepsErrorMessages.address"
          state="location_on"
        >
          <form autocomplete="off" [formGroup]="addressInfo">
            <ng-template matStepLabel>Customer address</ng-template>

            <div>
              <mat-card class="addSpace">
                <mat-card-subtitle> Address </mat-card-subtitle>

                <mat-form-field appearance="fill">
                  <mat-label>Contact Name </mat-label>
                  <input
                    type="text"
                    formControlName="contactName"
                    matInput
                    placeholder="contact Name"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Phone Number 1 </mat-label>
                  <input
                    type="tel"
                    formControlName="phoneNumber1"
                    matInput
                    placeholder="555-555-5555"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Phone Number 2 </mat-label>
                  <input
                    type="tel"
                    formControlName="phoneNumber2"
                    matInput
                    placeholder="555-555-5555"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Email </mat-label>
                  <input
                    type="email"
                    formControlName="email"
                    matInput
                    placeholder="email"
                  />
                </mat-form-field>
                <br />

                <mat-form-field class="fullWidth" appearance="fill">
                  <mat-label>Start typing the customer address </mat-label>
                  <input
                    #addressField
                    type="text"
                    matInput
                    placeholder="Address"
                  />
                  <mat-icon matPrefix>search</mat-icon>
                  <button
                  type="button"
                    *ngIf="addressField.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="addressField.value = ''"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-hint
                    >Yo have to select a verified address from google</mat-hint
                  >
                </mat-form-field>

                <mat-form-field
                  class="fullWidth"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label>Address Line </mat-label>
                  <input
                    #addressField
                    type="text"
                    formControlName="street"
                    matInput
                    placeholder="Address"
                  />
                  <mat-icon matSuffix>location_on</mat-icon>
                </mat-form-field>

                <mat-form-field
                  class="fullWidth"
                  appearance="fill"
                  floatLabel="always"
                >
                  <mat-label>Suite,apartment,unit: </mat-label>
                  <input
                    type="text"
                    formControlName="suite"
                    matInput
                    placeholder="Suite,apartment,unit:"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Town/City </mat-label>
                  <input
                    type="text"
                    formControlName="city"
                    matInput
                    placeholder="city"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>State </mat-label>
                  <input
                    type="text"
                    formControlName="state"
                    matInput
                    placeholder="state"
                  />
                </mat-form-field>

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Zipcode </mat-label>
                  <input
                    type="text"
                    formControlName="zipCode"
                    matInput
                    placeholder="zipCode"
                  />
                </mat-form-field>

                <br />

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Country </mat-label>
                  <input
                    type="text"
                    formControlName="country"
                    matInput
                    placeholder="Country"
                  />
                </mat-form-field>

                <mat-form-field formGroupName="addressType" appearance="fill">
                  <mat-label>Address Type</mat-label>
                  <mat-select formControlName="id">
                    <mat-option
                      *ngFor="let adrs of addressTypes"
                      [value]="adrs.id"
                    >
                      {{ adrs.description }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
            </div>

            <div>
              <button color="basic" type="button" mat-button matStepperPrevious>
                Back
              </button>
              <button color="primary" type="button" mat-button matStepperNext>
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step state="done_outline">
          <ng-template matStepLabel>Done</ng-template>
          <p>
            {{
              this.personalInfo.invalid ||
              this.addressInfo.invalid ||
              this.contactInfo.invalid
                ? "You must to complete the form"
                : "You are now done."
            }}
          </p>
          <div>
            <button color="basic" mat-button matStepperPrevious>Back</button>
            <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            <button
              mat-flat-button
              color="primary"
              (click)="onSubmit()"
              type="submit"
              [disabled]="
                this.personalInfo.invalid ||
                this.addressInfo.invalid ||
                this.contactInfo.invalid
              "
            >
              Save
            </button>
          </div>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="phone">
          <mat-icon>phone</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="lock">
          <mat-icon>lock</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="location_on">
          <mat-icon>location_on</mat-icon>
        </ng-template>
      </mat-stepper>
    </div>
  </div>
</mat-card>
