<mat-grid-list cols="3" rowHeight="150px">
  <mat-grid-tile
    ><mat-card class="dashboard-card">
      <mat-card-title>Lorem Ipsun</mat-card-title>
    </mat-card></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-card class="dashboard-card">
      <mat-card-title>Lorem Ipsun</mat-card-title>
    </mat-card></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-card class="dashboard-card">
      <mat-card-title>Lorem Ipsun</mat-card-title>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>

<div fxLayout="row" fxLayoutAlign="space-between start">
  <mat-card class="pie-card">
    <mat-card-title>Embarcation April 11, 2022</mat-card-title>
    <mat-card-content>
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
      >
      </canvas>
    </mat-card-content>
  </mat-card>
</div>
