.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #308FE8;
  color: #ffff;
}

.mat-card-title{
  font-size: large;
  font-weight: lighter;
  padding: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.mat-card{
  left: 15px;
}

.pie-card{
  width: 380px;
}
