<mat-card>
  <mat-toolbar-row>
    <mat-card-title *ngIf="this.embarcation">
      Embarcation: {{ this.embarcation.id }}
    </mat-card-title>
    <span class="spacer"> </span>
    <button mat-button [matMenuTriggerFor]="menu">
      Options <mat-icon class="mat-18">more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button type="button" (click)="editMode()" mat-menu-item>
        <mat-icon class="mat-18" color="basic" aria-label="Edit">edit</mat-icon>
        Edit
      </button>
      <button type="button" (click)="openAddDialog()" mat-menu-item>
        <mat-icon class="mat-18" color="basic" aria-label="Edit">add</mat-icon
        >Add Embarcation
      </button>

      <button type="button" routerLink="/embarcations" mat-menu-item>
        <mat-icon class="mat-18" color="basic" aria-label="Edit">list</mat-icon
        >Embarcation List
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-divider></mat-divider>
  <mat-progress-bar
    *ngIf="!this.embarcation"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-card-content *ngIf="this.embarcation">
    <div
      class="container"
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxFlexFill
      fxLayoutGap="10"
      fxLayoutAlign="space-around"
    >
      <div class="header-row" fxFlex="50%" fxFlex.xs="55%">
        <mat-card-header class="detail-header">
          <mat-card-title>
            Operated by: {{ this.embarcation.logisticOperator.Name }}
          </mat-card-title>
          <mat-card-subtitle
            >Status:
            {{ this.embarcation.tracking.description }}</mat-card-subtitle
          >
        </mat-card-header>

        <mat-grid-list  cols="2" rowHeight="200px">
          <mat-grid-tile>
          <mat-card class="settings-card">
            <mat-card-title>
              {{weightPercentage}} %
            </mat-card-title>
            <mat-card-content>
              <div>
                <mat-progress-bar class="progress"  mode="determinate" [value]="100 - weightPercentage"></mat-progress-bar>
                <span class="barStatus">weight</span>
                <div class="barText">{{weightUsed}}/ {{embarcation.WeigthCapacity}} Kg</div>

              </div>
              <div>
                <span class="cardLabel">Available weight:</span>
                <span class="padRight"> {{availableWeight}} kg</span>
              </div>
            </mat-card-content>
          </mat-card></mat-grid-tile>
          <mat-grid-tile><mat-card class="settings-card">
            <mat-card-title>
               {{volumePercentage}} %
            </mat-card-title>
            <mat-card-content>
              <div>
                <mat-progress-bar class="progress"  mode="determinate" [value]="100 - volumePercentage"></mat-progress-bar>
                <span class="barStatus">Volume</span>
                <div class="barText">{{volumeUsed}}/ {{embarcation.volumeCapacity}} ft3</div>

              </div>
              <div>
                <span class="cardLabel">Available volume:</span>
                <span class="padRight"> {{availableVolumen}} ft3</span>
              </div>
            </mat-card-content>
          </mat-card></mat-grid-tile>
        </mat-grid-list>
      </div>

      <div fxFlex="50%" fxFlex.xs="55%">
        <!--    <button
        type="button"
        routerLink="/embarcations"
        mat-raised-button
        color="primary"
        class="list-button"
      >
        View Embarcations List
      </button> -->
        <form [formGroup]="embarcationForm">
          <app-embarcations-form
            formControlName="embarcation"
            [id]="this.id"
            [data]="this.embarcation"
          ></app-embarcations-form>
        </form>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="!hide">
    <button mat-stroked-button color="primary" (click)="readMode()" mat-button>
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="confirmDialog()"
      mat-button
    >
      Save
    </button>
  </mat-card-actions>
</mat-card>
