.container {
  padding: 1em;
  padding-top: 50px;
}

.container span {
  text-align: center;
}


.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.mat-tab-labels {
  justify-content: center;
}


.addSpace {
  margin-bottom: 10px;
}

.list-button {
  margin-right: 20px;
}


.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

mat-grid-tile {
  background: #fff;
  color: #ffff;
  height: 27px;

}

mat-grid-list {
   margin: 10px;
}
.settings-card {
  background: #37474F;
  color: #ffff;
  height: 120px;
  width: 260px;

}

.mat-card {
  padding: 16px;
  padding-top: 12px;

}

.mat-card>:first-child, .mat-card-content>:first-child {
  margin-top: 10px;
}


.progress {
  height: 22px;

}


.barStatus {
  position: relative;
  top: -22px;
  left: 5px;
  height: 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.25px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #ec6f0a;
}
