<mat-card>
    <div class="container">
        <div fxLayout="column" fxLayoutAlign="end end" class="button-container">
            <button  routerLink="/embarcations" mat-raised-button  class="demo-button">
                <mat-icon aria-label="Example icon-button with a heart icon">keyboard_backspace</mat-icon> Cancel
            </button>
            
            
        </div>
        <span mat-card-title>New Embarcation</span>
        <br/>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <form [formGroup]="embarcation">
              <ng-template matStepLabel>Fill your info</ng-template>
              <mat-form-field>
                <mat-label> EstimatedDepartureDate </mat-label>
                <input
                  formControlName="EstimatedDepartureDate"
                  matInput
                  placeholder="EstimatedDepartureDate"
                />
              </mat-form-field>
  
              <mat-form-field>
                <mat-label> EstimatedArrivingDate </mat-label>
                <input
                  formControlName="EstimatedArrivingDate"
                  matInput
                  placeholder="EstimatedArrivingDate"
                />
              </mat-form-field>
  
              <mat-form-field>
                <mat-label> VeselNumber </mat-label>
                <input
                  formControlName="VeselNumber"
                  matInput
                  placeholder="VeselNumber"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label> LogisticOperatorId </mat-label>
                <input
                  formControlName="LogisticOperatorId"
                  matInput
                  placeholder="LogisticOperatorId"
                />
              </mat-form-field>
            </form>            
            <button
                mat-flat-button
                color="primary"
                (click)="onSubmit()"
                type="submit"
                [disabled]="!this.embarcation.valid"
              >
                Save
            </button>
        </div>
    </div>
</mat-card>
<pre>
  {{ form | json }}
</pre>