<mat-card class="container">
  <mat-toolbar-row>
    <mat-card-header>
      <mat-card-title>
        Branch Offices
      </mat-card-title>
    </mat-card-header>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="mat-18">more_horiz</mat-icon> Options
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon aria-label="Example icon-button with a heart icon"
          >keyboard_backspace</mat-icon
        >
        Back
      </button>
      <button mat-menu-item type="button">
        <mat-icon>add</mat-icon>
        Add new Address
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-divider></mat-divider>
  <mat-card-content>

  </mat-card-content>
</mat-card>
