<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name" style="padding-top: 10px">
      <img alt="logo" src="../../assets/img/Logo.png" width="140" />
    </h1>

    <span class="spacer"></span>

    <!--     <span style="padding-right: 10px; font-size: medium;"> {{clock}}</span> -->
    <span>{{ userName }} </span>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>person_pin</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Exit</span>
      </button>
      <span class="version-info" style="color: black !important; padding: 15px"
        >Current build: 1.0.0</span
      >
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      mode="side"
      opened
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div>
          <a
            mat-list-item
            routerLink="/home"
            routerLinkActive="active-list-item"
          >
            <mat-icon matListIcon aria-hidden="false">dashboard</mat-icon>`
            <span matLine>Dashboard</span>
          </a>
        </div>

        <div>
          <a
            mat-list-item
            routerLink="/offices"
            routerLinkActive="active-list-item"
          >
            <fa-icon matListIcon [icon]="faShop"></fa-icon>
            <span matLine>Offices</span>
          </a>
        </div>

        <div>
          <a
            mat-list-item
            routerLink="/zones"
            routerLinkActive="active-list-item"
          >
            <fa-icon matListIcon [icon]="faRoute"></fa-icon>
            <span matLine>Zones</span>
          </a>
        </div>

        <div>
          <a
            mat-list-item
            routerLink="/customers"
            routerLinkActive="active-list-item"
            [routerLinkActiveOptions]="{ exact: false }"
          >
            <fa-icon matListIcon [icon]="facustomers"></fa-icon>
            <span matLine> Customers</span>
          </a>
        </div>

        <div>
          <!-- Cabeceras del submenu -->
          <a
            mat-list-item
            routerLink="/orders"
            routerLinkActive="active-list-item"
            [routerLinkActiveOptions]="{ exact: false }"
          >
            <fa-icon matListIcon [icon]="faShipments"></fa-icon>
            <span matLine>orders</span>
          </a>
        </div>

        <div>
          <a
            mat-list-item
            routerLink="/embarcations"
            routerLinkActive="active-list-item"
          >
            <fa-icon matListIcon [icon]="faEmbarcations"></fa-icon>
            <span matLine>Embarcations</span>
          </a>
        </div>

        <div>
          <a mat-list-item>
            <fa-icon matListIcon [icon]="fausers"></fa-icon>
            <span matLine>Users</span>
          </a>
        </div>

        <div>
          <a
            mat-list-item
            routerLink="/logistic-operators"
            routerLinkActive="active-list-item"
            [routerLinkActiveOptions]="{ exact: false }"
          >
            <fa-icon matListIcon [icon]="faLogisticOper"></fa-icon>
            <span matLine>Logistic Operators</span>
          </a>
        </div>

        <div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <!-- Cabeceras del submenu -->
                  <a class="test" mat-list-item>
                    <mat-icon matListIcon>settings</mat-icon>
                    <span matLine class="test">Settings</span>
                  </a>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <a
                mat-list-item
                routerLink="/parameters/address-types"
                routerLinkActive="active-list-item"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <mat-icon matListIcon aria-hidden="false">pin_drop</mat-icon>
                <span matLine>Address Types</span>
              </a>

              <a
                mat-list-item
                routerLink="/parameters/countries"
                routerLinkActive="active-list-item"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <fa-icon matListIcon [icon]="faCountries"></fa-icon>
                <span matLine>Countries</span>
              </a>

              <a
                mat-list-item
                routerLink="/parameters/tracking-status"
                routerLinkActive="active-list-item"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <mat-icon matListIcon aria-hidden="false"
                  >track_changes</mat-icon
                >
                <span matLine>Tracking Status</span>
              </a>

              <a
                mat-list-item
                routerLink="/parameters/packages-types"
                routerLinkActive="active-list-item"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <fa-icon matListIcon [icon]="faPackageTypes"></fa-icon>

                <span matLine>Packages Types</span>
              </a>

              <a
                mat-list-item
                routerLink="/parameters/package-catalog"
                routerLinkActive="active-list-item"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <fa-icon matListIcon [icon]="faCubes"></fa-icon>

                <span matLine>Package Catalog</span>
              </a>

              <a
                mat-list-item
                routerLink="/parameters/shipping-types"
                routerLinkActive="active-list-item"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <fa-icon matListIcon [icon]="faTruck"></fa-icon>

                <span matLine>Shipping Types</span>
              </a>

              <a
                mat-list-item
                routerLink="/parameters/services-types"
                routerLinkActive="active-list-item"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <fa-icon matListIcon [icon]="faServicesTypes"></fa-icon>

                <span matLine>Service Types</span>
              </a>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fullscreen>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
