/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {



  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.app-content {
  padding: 10px;
}


.spacer {
  flex: 1 1 auto;
}



.mat-raised-button ~ .mat-raised-button {
  margin-left: 10px;
}


.backButton{
   margin-right: 50px;
   margin-top: 25px;
}
