/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-content {
  padding: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-raised-button ~ .mat-raised-button {
  margin-left: 10px;
}

.backButton {
  margin-right: 50px;
  margin-top: 25px;
}

.container {
  padding: 30px;
}



.card-header-padding {
  padding: 15px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

@media (max-width: 768px) {
  .mat-form-field + .mat-form-field {
    margin-left: 0px;
  }
}
