/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-content {
  padding: 10px;
}



.mat-form-field-disabled {
  color: rgba(black, 0.38) !important;
}

.mat-input-element:disabled{
  color: black !important;
}


.mat-date-range-input-inner[disabled] {
  color: black !important;
}

.mat-select-disabled .mat-select-value {
  color: black !important;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
   background-color: rgba(0, 0, 0, 0.04);
}


.spacer {
  flex: 1 1 auto;
}

.mat-raised-button ~ .mat-raised-button {
  margin-left: 10px;
}

.backButton {
  margin-right: 50px;
  margin-top: 25px;
}

.container {
  padding: 30px;
}

.icon{
  font-size: 90px;

}


.card-icon{
  font-size: 90px;
  margin-left: 25px;
 }


.card-header-padding {
  padding: 15px;
}

.detail-header{
  justify-content: center;
}

.header-row{
  text-align: center;
  margin-bottom: 10px;

}


.mat-form-field + .mat-form-field {
  margin-left: 0px;
}

@media (min-width : 1224px) {
  .mat-form-field + .mat-form-field {
    margin-left: 2px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1180px) {
  .mat-form-field + .mat-form-field {
    margin-left: 2px;
  }
}


