
.full-width {
  width: 82%;
}

.form-width {
  min-width: 150px;
  max-width: 490px;
  width: 100%;
}

.mat-card-content{
  justify-content: center;
}
  .mat-tab-labels {
    justify-content: center;
  }

  td {
    padding-right: 8px;
  }
